header {
    background-image: url(./assets_day1/img/wall.png);
}

h1 {
    font-family: 'Edu Tas Beginner', sans-serif;
    text-transform: uppercase;
    
}

body {
    background-image: url(./assets_day1/img/cork.png);
}

.card {
    background-color: white;
    width: 350px;
    height: 350px;
}

img {
    width: 25vh;
    height: 25vh;

}

#prima-riga {
 font-family: 'Edu Tas Beginner', sans-serif ;

} 

#seconda-riga {
    font-family: 'Sometype Mono', sans-serif ;
   }